<md-dialog aria-label="Mango (Fruit)">
    <md-content class="md-padding md-default-theme">
        <form name="userForm" layout-margin>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Username</label>
                    <input ng-model="user.userName" class="ng-pristine ng-untouched ng-valid md-input">
                    </md-input-container>
                </div>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Password</label>
                    <input type="password" ng-model="user.password" class="ng-pristine ng-untouched ng-valid md-input">
                    </md-input-container>
                </div>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Role</label>
                    <md-select ng-model="user.role">
                        <md-option ng-repeat="role in roles" ng-value="role.id">
                            {{role.label}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </form>
    </md-content>
    <div class="md-dialog-actions" layout="row"><span flex></span>
        <md-button ng-click="cancel()"> Cancel</md-button>
        <md-button ng-click="answer(user)" class="md-primary"> Save</md-button>
    </div>
</md-dialog>