<div layout="column" flex layout-fill>
    <md-toolbar layout="row" layout-align="space-around center" >
        <span hide-gt-sm>
            <md-button
                    class="menu"
                    ng-click="vm.toggleMenu()" aria-label="Show User List" layout-align="end end">

             <i class="zmdi zmdi-menu zmdi-hc-2x"></i>

            </md-button>
        </span>
        <div layout="row">
            <div layout="row" class="large-text padding-left-20 top-toolbar-heading"><div>storfirst</div> <div class="mdst-text-light-blue padding-left-20">migration</div></div>
        </div>
        <span flex layout-fill></span>
        <div layout="row" layout-fill><span flex></span><div layout="column" layout-align="start start"><div class="vertical-text">SEVEN10</div></div></div>
      </md-toolbar>

    <div layout="row" flex>
        <!-- side nav goes here -->
        <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2 storfirst-sidenav md-sidenav-left" ng-click="vm.toggleMenu()" flex>
            <md-content flex role="navigation">
                <md-list flex>
                    <md-list-item layout="row" layout-align="start center" ng-repeat="menuItem in vm.sideMenu" ng-click="vm.selectMenu(menuItem)" href="{{menuItem.url}}" ng-class="{'selected' : menuItem.selected}">
                        <div layout-margin>
                            <md-icon md-font-set="{{menuItem.icon}} zmdi zmdi-hc-2x mdc-text-light-blue"></md-icon>
                        </div>
                        <div layout-fill>{{menuItem.label}}</div>
                    </md-list-item>
            </md-content>
            <div flex></div>
            <div layout="row" layout-align="start" >
            </div>
        </md-sidenav>
        <md-content flex class="md-padding page-content">
            <!-- content goes here -->
            <ng-outlet></ng-outlet>
        </md-content>
    </div>
</div>