<div layout="column" flex layout-fill>
    <md-toolbar class="header-toolbar" layout="row" layout-align="space-around center" >
        <span hide-gt-sm>
            <md-button
                    class="menu"
                    ng-click="vm.toggleMenu()" aria-label="Show Menu" layout-align="end end">

             <i class="zmdi zmdi-menu zmdi-hc-2x"></i>

            </md-button>
        </span>
        <div layout="row">
            <div layout="row" class="large-text padding-left-20 top-toolbar-heading" hide-xs>
                <div>storfirst</div>
                <div class="mdst-text-light-blue padding-left-20">migration</div>
            </div>
        </div>
        <span flex layout-fill></span>
        <div layout="row" layout-fill hide-xs><span flex></span><div layout="column" layout-align="start start"><div class="vertical-text">SEVEN10</div></div></div>
      </md-toolbar>

    <div layout="row" flex>
        <!-- side nav goes here -->
        <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2 storfirst-sidenav md-sidenav-left" ng-click="vm.toggleMenu()" flex>
            <md-content flex role="navigation">
                <md-list flex>
                    <md-list-item layout="row" ng-repeat="menuItem in vm.sideMenu" ng-class="{'selected' : menuItem.selected}">
                        <md-button ng-link="['{{menuItem.url}}']" ng-click="vm.selectMenu(menuItem)" layout="row" layout-align="start center" layout-margin flex>
                            <div>
                                <md-icon md-font-set="{{menuItem.icon}} zmdi zmdi-hc-2x mdc-text-light-blue"></md-icon>
                            </div>
                            <div>{{menuItem.label}}</div>
                        </md-button>
                    </md-list-item>
            </md-content>
            <div flex></div>
            <div layout="row" layout-align="start" >
            </div>
        </md-sidenav>
        <md-content flex class="md-padding page-content" ngCloak>
            <!-- content goes here -->
            <ng-outlet></ng-outlet>
        </md-content>
    </div>
</div>