<md-toolbar layout="row">
    <md-button
            class="menu"
            ng-click="null" aria-label="Show User List">

        <md-icon md-svg-icon="menu"></md-icon>

    </md-button>
    <div class="col-sm-4" layout-align="center center">
        <img src="assets/img/horizontal-logo-1.gif" class="img-responsive" alt="Responsive image">
    </div>
</md-toolbar>

<div layout="vertical" layout-fill class="">
    <!-- side nav goes here -->
    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2 storfirst-sidenav" layout-fill>
        <md-content flex role="navigation">
            <md-list flex>
                <md-list-item ng-repeat="menuItem in $ctrl.sideMenu" href="{{menuItem.url}}">
                    <div layout-margin>
                        <md-icon md-font-set="zmdi-view-dashboard zmdi zmdi-hc-2x mdc-text-light-blue"></md-icon>
                    </div>
                    <div layout-fill>{{menuItem.label}}
                    </div>
                </md-list-item>
               <!-- <md-list-item layout="row" layout-align="start center" ng-click="null" href="./dashboard">
                    <div layout-margin>
                        <md-icon md-font-set="zmdi-view-dashboard zmdi zmdi-hc-2x mdc-text-light-blue"></md-icon>
                    </div>
                    <div layout-fill>Dashboard
                    </div>
                </md-list-item>
                <md-list-item layout="row" layout-align="start center" ng-click="null" href="./jobs">
                    <div layout-margin>
                        <md-icon md-font-set="zmdi zmdi-case zmdi-hc-2x mdc-text-light-blue" layout-margin></md-icon>
                    </div>
                    <div layout-fill>Jobs</div>
                </md-list-item>
                <md-list-item layout="row" layout-align="start center" ng-click="null" href="./devices">
                    <div layout-margin>
                        <md-icon md-font-set="zmdi zmdi-devices zmdi-hc-2x mdc-text-light-blue" layout-margin></md-icon>
                    </div>
                    <div layout-fill>Devices</div>
                </md-list-item>
                <md-list-item layout="row" layout-align="start center" ng-click="null" href="./security">
                    <div layout-margin>
                        <md-icon md-font-set="zmdi zmdi-settings zmdi-hc-2x mdc-text-light-blue" layout-margin></md-icon>
                    </div>
                    <div layout-fill>Settings</div>
                </md-list-item>-->

        </md-content>
    </md-sidenav>
    <md-content flex id="content" layout="column">
        <!-- content goes here -->
        <ng-outlet></ng-outlet>
    </md-content>
</div>