<md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Users">
        <div flex layout="column">
            <h2 class="pageTitle"> User and Security Management </h2>
            <div flex layout="row" layout-margin>
                <md-card flex layout="column" layout-align="start">
                    <md-toolbar class="md-table-toolbar md-default">
                        <div class="md-toolbar-tools">
                            <h4 class="md-title">Users</h4>
                            <div flex></div>
                            <md-button class="md-primary" arial-label="Add User" ng-click="$ctrl.addUser()">
                                <md-icon md-font-set="fa" class="fa-2x">&#xf055</md-icon>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <md-table-container>
                        <table md-table md-row-select multiple ng-model="$ctrl.selected" md-progress="promise">
                            <thead md-head data-md-order="query.order" layout-margin>
                            <tr md-row>
                                <!-- when the user clicks this cell, the myOrder variable will get the value 'nameToLower' -->
                                <th md-column data-md-order-by="nameToLower">Username</th>
                                <!-- the variable myOrder will not be changed when this cell is clicked -->
                                <th md-column>Role</th>
                                <th md-column>Date Added</th>
                                <th md-column>Last Logged In</th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <!-- we can let ng-repeat sort the columns for us -->
                            <tr md-row md-select="user" md-select-id="name" md-auto-select
                                ng-repeat="user in $ctrl.users">
                                <td md-cell>{{user.userName}}</td>
                                <td md-cell>{{user.role}}</td>
                                <td md-cell>{{user.timeCreated | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td md-cell>{{user.lastLogin | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </md-card>
            </div>
        </div>
    </md-tab>
    <md-tab label="Logs">
    </md-tab>
</md-tabs>